<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>
<body>
    <h3>登录页面</h3>
    <form action="/login" method="post">
        <p>
            <label for="username">账号名</label>
            <input type="text" name="username" id="">
        </p>
        <p>
            <label for="password">密码</label>
            <input type="password" name="password" id="">
        </p>
        <p>
            <input type="submit" value="登录">
        </p>
    </form>
</body>
</html>